

<div id="homeWrapper">
    <div id="pageHead">
        <img src="~/images/EIB-small.jpg" />
        <span>Engineering on Display</span>
        <img src="~/images/Siemens.png" />
        <hr style="border:1px solid black;" />
    </div>



    <p class="textMain">
        Welcome to the Engineering on Display Dashboard. This is a part of an effort to rasise
        awarness and knowledge about the energy useage of even a single building in the modern world.
        As part of a collaberative effor between the University of Alaska, Anchorage and Siemens&#174; Inc. this
        display gives you a view into the quanitiy of electricity, natural gas and water that this
        building takes, as well as being able to view the fluctuations in this over time.
    </p>
    <div class="square square-left">
        <p class="textInstructionHead">step 1</p>
        <p class="textInstructionBody">Select icon from side bar to display information desired</p>
    </div>
    <div class="square square-center">
        <p class="textInstructionHead">step 2</p>
        <p class="textInstructionBody">Select time period and usage/ demand to display graph <br /><br />Usage - total amount since the building opened<br />Demand - amount used at any one time</p>
    </div>
    <div class="square square-right">
        <p class="textInstructionHead">step 3</p>
        <p class="textInstructionBody">Scroll to see the graph change with time</p>
    </div>
</div>
  



