<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <title>Engineering on Display - @ViewBag.Title</title>
</head>
<body>

    <div id="siteWrapper">
        <div id="bodyWrapper">
            <div id="uaaHead"><img src="~/images/CollegeOfEngineering-GG-Rvrs.png" /></div>
            @RenderBody()
        </div>
        <div id="SlideShowFull"></div>
        <div id="SlideShowNavBar"></div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/Chart-js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
