.vs/EoD/v15/.suo
.vs/slnx.sqlite
EngineeringOnDisplay2017/EngineeringOnDisplay2017/obj/Release/net452/win7-x86/EngineeringOnDisplay2017.AssemblyInfo.cs
EngineeringOnDisplay2017/EngineeringOnDisplay2017/obj/Debug/net452/win7-x86/CoreCompileInputs.cache
.vs/VSWorkspaceState.json
*.cache

EngineeringOnDisplay2017/EngineeringOnDisplay2017/obj/project.assets.json
EngineeringOnDisplay2017/EngineeringOnDisplay2017/obj/EngineeringOnDisplay2017.csproj.nuget.g.props
