@{
    Layout = "";
}
@model GraphData

<html>

<head>
    <title>Query Tests</title>
    <
</head>

<body>
    <h1>Data Tests</h1>

    <canvas class="graph" graph-type="Electrical" graph-scale="All" graph-start="20170418T12:00AM" graph-end="20170420T11:59PM"></canvas>


    <h1>Text Output</h1>
    <div style="overflow:auto; height:500px; width:900px">
        <textarea cols="100" rows="20">
            @ViewBag.ConsoleOutput
        </textarea>
    </div>

</body>
</html>