@{
    Layout = "";
}
@model GraphData

<html>

<head>
    <title>Query Tests</title>
</head>

<body>
    <h1>Data Tests</h1>

    <table border="1">
        <tr>
            <th>X</th>
            <th>Y</th>
        </tr>
        <tr>
        @foreach(var point in Model.Points)
        {
            <td>@point.X_Value</td>
            <td>@point.Y_Value</td>
        }
        </tr>
    </table>

    <h1>Text Output</h1>
    <div style="overflow:auto; height:500px; width:900px">
        <textarea cols="100" rows="20">
            @ViewBag.ConsoleOutput
        </textarea>
    </div>

</body>
</html>