@{ 
    Layout = "";
}
<html>
<head>
    <link href="~/css/chartTest.css" rel="stylesheet"/>
    


</head>
<body>

    <h1>Engineering on Display</h1>
    <h2>Graph Ajax Tests</h2>

    

    <div id="navigationBar">
        <button id="testBtnOne" type="button">Show Results</button> 
    </div>
    <div id="ajaxStatus">
        Ajax Status = None
    </div>

    <div class="scrollTable" >
        <canvas width="1000" height="400" data-graph-sensor="Electrical" data-graph-start="2017-04-14T02:30:20" data-graph-end="2017-04-16T02:30:20" data-graph-scale="All" data-graph-data="Amount"></canvas>
    </div>



    <div class="scrollTable">
        <table id="outputTable" border="1">
            <tr>
                <th>X_Value</th>
                <th>Y_Value</th>
            </tr>
        </table>
    </div>    

    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/Chart-js/dist/Chart.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
</body>
</html>