/*****************************************************************************************
    File: admin.css  
    Purpose: CSS for the admin display 
    Project: Engineering on Display

    Authors:  Terrance Mount, Andew Smart, Martin Boyle
    College: University of Alaska, Anchorage
    Instructor: Martin Ceneck
    Semester: Spring 2017
    Course: CSCE 470 
********************************************************************************************/

/*set some simple body level styles.  Black signifies outside the target display window. */
body {
    margin: 0;
    background-color: black;
    font-family: Arial;
}


/***********************************************************
    Main layout for page
-----------------------------------------------------------*/


/*container for the UAA heading at the top of the page*/
#uaaHead {
    height: 75px;
    width: 100%;
    background-image: url('../images/headrtxtr-3.png');
    background-color: #207b66;
}

/*Container to hold the sensor select buttons for the page*/
#sidebar {
    padding-top: 10px;
    background: #2a2c36;
    color: #eee;
    /*position: absolute;*/
    overflow: auto;
    width: 200px;
    height: 100%;
}

/*container to hold the main content of page (graph, etc.)*/
#main {
    padding: 10px 0 0 10px;
    background: #eee;
    /*position: absolute;*/
    margin-left: 200px;
    height: 100%;
}



/***********************************************************
    UAA head section additional css
------------------------------------------------------------*/

#uaaHead img {
    height: 65px;
    margin: 5px 0 0 25px;
}
/*==================END OF SECTION=========================*/

