/*****************************************************************************************
    File: site.css  
    Purpose: CSS for the Primary user display for showing Charts of data.   
    Project: Engineering on Display

    Authors:  Terrance Mount, Andew Smart, Martin Boyle
    College: University of Alaska, Anchorage
    Instructor: Martin Ceneck
    Semester: Spring 2017
    Course: CSCE 470 
********************************************************************************************/

/*set some simple body level styles.  Black signifies outside the target display window. */
body {
    margin: 0;
    background-color: black;
    font-family: Arial;
}


/***********************************************************
    Main layout for page
-----------------------------------------------------------*/
/*Container for the bodyWrapper and the slideshow*/
#siteWrapper {
    width: 1600px;
    height: 900px;
    position:absolute;
    overflow:hidden;
}

/*Container for the UAA Head, Sidebar and Main sections*/
#bodyWrapper{
    height:800px;
    position:relative;
    overflow: hidden;
}

/*container for the UAA heading at the top of the page*/
#uaaHead {
    height: 75px;
    width: 100%;
    background-image: url('../images/headrtxtr-3.png');
    background-color: #207b66;
    margin: 0;
}

/*Container to hold the sensor select buttons for the page*/
#sidebar {
    padding-top: 10px;
    background: #2a2c36;
    color: #eee;
    position: absolute;
    overflow: auto;
    width: 200px;
    height: 100%;
}

/*container to hold the main content of page (graph, etc.)*/
#main {
    padding: 10px 0 0 10px;
    background: #eee;
    position: absolute;
    width: 1400px;
    margin-left: 200px;
    height: 100%;
}

/*container for the slideshow nav bar at bottom of page*/
#ss-nav {
    height: 100px;
    width: 1600px;
   
    position: relative;
    padding: 0; /*take out any margin*/
    margin: 0; /*take out any padding*/
}
/*==================END OF SECTION=========================*/

/***********************************************************
    UAA head section additional css
------------------------------------------------------------*/

#uaaHead img {
    height: 65px;
    margin: 5px 0 0 25px;
}
/*==================END OF SECTION=========================*/

/***********************************************************
    Slide show Navagation bar at the bottom of the page
----------------------------------------------------------*/


/*controls the sliding of the nav slots back and forth*/
#ss-nav-slider {
    margin-left: 700px; /*default center value corrosponding with the center of the   will change with js to move slider*/ 

}

/*group styling for each slot in the nav bar*/
.ss-nav-slot {
    width: 200px;
    height: 100px;
    padding:5px 0 0 0;
    margin:0 0 0 0;
    display:inline-block;
    /*background-color:red;*/
    
}

.ss-nav-slot img{
    margin-left:auto;
    margin-right:auto;
    height:90px;
    display:block;
}

/*A empty border over the middle slot to indicate */
.ss-nav-slot-select {
    border: 3px solid yellow;
    position:absolute;
    height:94px;
    width:194px;
    top:800px;
    left:0;
    z-index:1;
    margin-left:700px; /*Center of the page for 1600 px wide*/
}
/*==================END OF SECTION=========================*/

/***********************************************************
    Sidebar home and sensor buttons setup.
------------------------------------------------------------/

/*sidebar buttons for selecting what sensor.*/  
.sensorNavBtn {
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #207b66;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align:center;
}

/*Highlight the button if current or moused over*/
.sensorNavBtn:hover, .current{
    background: #ffcc33;
    text-decoration: none;
    color:black;
}

#sidebar .sensorNavBtn {
    height: 115px;
    width: 155px;
    margin: 22px 0 0 25px;
}

#sidebar .sensorNavBtn img {
    height: 60px;
}
/*==================END OF SECTION=========================*/

/***********************************************************
    Sidebar home and sensor buttons setup.
------------------------------------------------------------/
/*setting up buttons around the chart*/ 
#chartScaleBtns .sensorNavBtn{
    margin:175px 0 0 150px;
}
.chartScrollBtns button{
    width:75px;
    height:200px;
    padding:0;
    margin:125px 0 0 0;
}
.chartScrollBtns button img {
    width:50px;
    margin:0;
}
#chartScrollRightBtn{
    margin-left:1200px;
}

chartTopRow{
    position:relative;
}

.chartTopRow h1{
    display:inline;
    margin-left:100px;

}

.chartTopRow div {
    right: 150px;
    top: 5px;
    position: absolute;
}

.chartTopRow button{
    margin-left: 50px;
    font-size:medium;
}

.chartMiddleRow{
    position:relative;
    margin-top:25px;
}

.chartMiddleRow div {
    display: inline;
    margin-right: 0;
}

#graphContainer {
    width: 1200px;
    height: 500px;

    position:absolute;

}

#sensorChartHere {
    width: 100%;
    height:100%;


}
/*==================END OF SECTION=========================*/

 