@{ 
    Layout = "";
}
<html>
<head>
    <link href="~/css/chartTest.css" rel="stylesheet"/>
    
    


</head>
<body>

    <h1>Engineering on Display</h1>
    <h2>Graph Ajax Tests</h2>

    <div id="navigationBar">
        <button class="sensorSelectBtn" data-graph-sensor="Electrical" type="button">Electrical Graph</button> 
        <button class="sensorSelectBtn" data-graph-sensor="NaturalGas" type="button">Natural Gas Graph</button>
        <button class="sensorSelectBtn" data-graph-sensor="Water" type="button">Water Graph</button>
        <button class="sensorSelectBtn" data-graph-sensor="OutsideTemperature" type="button">OutsideTemperature</button>
    </div>
    <div id="ajaxStatus">
        Ajax Status = None
    </div>





    <div id="chartArea">
        <div class="chartTite">
            <h2>Electrical Usage in kiloWatt Hours</h2>
        </div>    
        <div class="chartDataSelectbtn">
            <button data-graph-data="Amount">Usage<br />(kWH)</button>
            <button data-graph-data="Change">Demand<br />(kW)</button>
        </div>
        <div class="chartScrollLeftbtn">
            <button class="fa fa-angle-double-left"></button>
        </div>
        <div class="normalGraph" >
            <canvas class="sensorGraph" data-graph-sensor="Electrical" data-graph-start="2017-04-16T02:30:20" data-graph-end="2017-04-20T02:30:20" data-graph-scale="All" data-graph-data="Amount"></canvas>
        </div>
        <div class="chartScrollRightBtn">
            <button class="fa fa-angle-double-right"></button>
        </div>
        <div class="chartScaleBtn">
            <button data-graph-scale="All">All</button>
            <button data-graph-scale="Hour">Hour</button>
            <button data-graph-scale="Day">Day</button>
            <button data-graph-scale="Month">Month</button>
            <button data-graph-scale="Year">Year</button>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/Chart-js/dist/Chart.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
</body>
</html>