@{ 
    Layout = "";
}
<ul id="SlideShowThumb">
    <li><img src="~/images/passiveAdsImages/thumbnails/tb-test1.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/thumbnails/tb-test2.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/thumbnails/tb-test3.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/thumbnails/tb-test4.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/thumbnails/tb-test5.jpg" /></li>
</ul>
<ul id="SlideShowFull">
    <li><img src="~/images/passiveAdsImages/test1.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/test2.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/test3.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/test4.jpg" /></li>
    <li><img src="~/images/passiveAdsImages/test5.jpg" /></li>
</ul>

