@{ 
    Layout = "";
}

<div id="SlideShowImgs">
    <img src="~/images/passiveAdsImages/test1.jpg" />
    <img src="~/images/passiveAdsImages/test2.jpg" />
    <img src="~/images/passiveAdsImages/test3.jpg" />
    <img src="~/images/passiveAdsImages/test4.jpg" />
    <img src="~/images/passiveAdsImages/test5.jpg" />
</div>
