@{ 
    Layout = "";
}


<div id="ss-nav">
    <div id="ss-nav-slider">
        <div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test1.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test2.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test3.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test4.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test5.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test1.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test2.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test3.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test4.jpg" /></div><div class="ss-nav-slot"><img src="~/images/passiveAdsImages/thumbnails/tb-test5.jpg" /></div>
    </div>
</div>



<div id="ss-full" class="ss-full-top ss-scroll-down">
    <div id="ss-full-slider">
        <div class="ss-full-slot" data-time-sec="5"><img src="~/images/passiveAdsImages/test1.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="7"><img src="~/images/passiveAdsImages/test2.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="8"><img src="~/images/passiveAdsImages/test3.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="2"><img src="~/images/passiveAdsImages/test4.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="3"><img src="~/images/passiveAdsImages/test5.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="5"><img src="~/images/passiveAdsImages/test1.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="6"><img src="~/images/passiveAdsImages/test2.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="7"><img src="~/images/passiveAdsImages/test3.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="5"><img src="~/images/passiveAdsImages/test4.jpg" /></div>
        <div class="ss-full-slot" data-time-sec="7"><img src="~/images/passiveAdsImages/test5.jpg" /></div>
    </div>
</div>


<div id="ss-nav-slot-select"></div>

<div id="ss-scroll">
    <div id="ss-scroll-left" class="ss-scroll-btn ss-scroll-down"><button><img src="~/images/angleLeft.png" /></button></div>
    <div id="ss-scroll-right" class="ss-scroll-btn ss-scroll-down"><button><img src="~/images/angleRight.png" /></button></div>
</div>