@{ 
    Layout = "";
}

<div class="SlideShowThumbnails">
    <img src="~/images/passiveAdsImages/thumbnails/tb-test1.jpg" />
    <img src="~/images/passiveAdsImages/thumbnails/tb-test2.jpg" />
    <img src="~/images/passiveAdsImages/thumbnails/tb-test3.jpg" />
    <img src="~/images/passiveAdsImages/thumbnails/tb-test4.jpg" />
    <img src="~/images/passiveAdsImages/thumbnails/tb-test4.jpg" />
</div>
