@{ 
    ViewBag.Title = "Admin Page";
}


<div id="sidebar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Slide Show</a></li>
    </ul>
</div>

<div id="main">
    <a class="sensorNavBtn" asp-controller="Home" asp-action="Sensors" role="button">Launch Display</a>
            
    <h2>Login</h2>
    <form method="get" title="Login">
        <label>UserName:</label>
        <input name="username" type="text" value="Input username"/>
        <label>Password:</label>
        <input name="password" type="password" value="input password"/>
    </form>
</div>
    