@{
    ViewBag.Title = "Home Page";
}

<div id="pageHead" class="row">
    <div class="container-fluid">
        <div class="col-xs-3">
            <img src="~/images/EIB-small.jpg" />
        </div>
        <div class="col-xs-9">
            <h1>Engineering on Display</h1>
            <br />
            <h3>Energy Monitoring at the Engineering and Industry Building.</h3>
        </div>
    </div>
</div>

<div>
    <p>
        Welcome to the Engineering on Display building monitoring home page.
        The University of Alaska, Anchorage is committed to blah blah blah.
    </p>

    <p>TODO: write more stuff.</p>

    <h3>Electricity Sensors</h3>
    <p>Todo: Talk about electricy sensors.</p>

    <h3>Water Sensors</h3>
    <p>Todo: Talk about water sensors.</p>

    <h3>Natural Gas Sensors</h3>
    <p>Todo: Talk about Natural Gas sensors.</p>

    <h3>Outside Temperature Sensor</h3>
    <p>Todo: Talk about outside temperature sensor.</p>

        
</div>