@{ 
    Layout = "AdminLayout";
}




<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Engineering on Display Admin Page</h2>
        <p>Please Launch the application or select a menu item from the side bar.</p>
        <a asp-controller="Main" asp-action="Index" class="btn btn-lg btn-success">Launch</a>
    </div>
</div>
